version: '3.8'
services:
  api:
    image: api
    build:
      context: .
      dockerfile: Api/Dockerfile
    depends_on:
      db:
        condition: service_healthy
    restart: always
    ports:
      - "5056:8080"
    environment:
      ConnectionStrings__DefaultConnection: "Host=db;Database=fin;Username=postgres;Password=docker-pass;Port=5432;"
  
  webclient:
    image: webclient
    build:
      context: WebClient
      dockerfile: Dockerfile
    ports:
      - "8080:80"
    depends_on:
      - api

  db:
    image: "postgres:latest"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: docker-pass
      POSTGRES_DB: fin
    
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U postgres" ]
      interval: 10s
      timeout: 5s
      retries: 3
